@import url("https://fonts.googleapis.com/css2?family=Raleway&display=swap");
/* SUMMARY */
/* 1 - Header */
/* 2 - Main */
/* 3 - Footer */
/* 4 - Color / Font */
/* 5 - Responsive */

/* ############################ */
@media screen and (min-width: 1440px) {
  html {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: #d9d9d9;
  }
}
body {
  margin: 0;
  padding: 0;
  font-family: "Raleway", sans-serif;
  display: grid;
  grid-template-columns: minmax(0, 50px) minmax(992px, 1340px) minmax(0, 50px);
  grid-template-rows: 1fr;
  background-color: white;
}
.container-page {
  grid-column-start: 2;
  grid-column-end: 3;
}
/* ############   1 - Header  ################ */
header {
  display: flex;
  flex-direction: column;
}

.header-nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.logo-brand {
  width: 61px;
  height: 29px;
  object-fit: contain;
  padding: 0;
  margin: 0;
  margin-left: 5px;
  padding-top: 40px;
}
nav ul {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  list-style-type: none;
}

nav ul li {
  margin-top: -5px;
  padding: 45px 33px 0 33px;
}

nav ul li:hover {
  border-top: solid 2px #0065fc;
  color: #0065fc;
}
.header-container {
  margin-top: 30px;
  padding-left: 5px;
}
.main-location {
  height: 49px;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 415px;
  margin-top: 20px;
}
.main-location-icon {
  width: 25px;
  border: solid 1px #f2f2f2;
  background: #f2f2f2;
  padding: 14px 15px;
  text-align: center;
  border-radius: 15px 0px 0px 15px;
}
.fa-solid fa-location-dot {
  width: 14px;
  height: 18px;
}
.main-location-input {
  border-top: solid 1px #f2f2f2;
  border-bottom: solid 1px #f2f2f2;
  width: 260px;
}
.main-location-input input[type="search"] {
  height: 48px;
}
.main-location-input input[type="text"] {
  height: 40px;
}
.main-location-input input:focus {
  outline: none;
}
.main-location-search {
  background: #0065fc;
  color: white;
  padding: 13px 15px;
  text-align: center;
  border-radius: 0px 15px 15px 0px;
  font-size: 18px;
  font-weight: 700;
  cursor: pointer;
}
button[type="submit"] {
  outline: none;
  border: solid 1px #0065fc;
  font-family: "Raleway", sans-serif;
}
button[type="submit"]:hover {
  cursor: hand;
  pointer-events: auto;
}
.filters {
  margin: 31px 0px;
  width: 914px;
  font-size: 18px;
  font-weight: 700;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.btn-filter {
  padding: 14px 20px;
  border: solid 2px #d9d9d9;
  background-color: transparent;
  font-size: 17px;
  font-weight: 700;
  font-family: "Raleway", sans-serif;
}

.btn-filter:hover {
  background: #deebff;
  cursor: pointer;
}
.btn-filter i {
  padding-right: 15px;
}

.rounded {
  border-radius: 50px;
}

.infobar {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.infobar span {
  margin-left: 10px;
}
.btn-info {
  display: flex;
  justify-content: center;
  align-items: center;
  border: solid 1px #d9d9d9;
  color: #0065fc;
  width: 24px;
  height: 24px;
  font-size: 11px;
}
.info-result {
  padding-left: 10px;
}

/* ############   2 - Main    ################ */
.section-offers {
  display: flex;
  justify-content: space-between;
  margin: 30px 0;
  height: 626px;
  width: 100%;
}
.offers {
  background-color: #f2f2f2;
  border-radius: 20px;
  margin-left: -8px;
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.include-card {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 31px;
  margin-top: -32px;
}

.card-heberg {
  background: white;
  width: 246px;
  height: 199px;
  border-radius: 20px;
  filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}
.content {
  padding: 0 16px;
  margin: 0;
}
.img-card-heberg img {
  width: 236px;
  height: 114px;
  object-fit: cover;
  border-radius: 20px 20px 0px 0px;
  border: solid 5px white;
}
.famous {
  background-color: #f2f2f2;
  border-radius: 20px;
  padding: 38px;
}
.title-famous {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.card-famous {
  background: white;
  width: 343px;
  height: 144px;
  border-radius: 20px;
  filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
  display: flex;
  flex-direction: row;
}

.content-article {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  height: 100%;
  padding-top: 20px;
}
.content-famous {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 16px 22px 16px 12px;
}
.img-card-famous img {
  width: 128px;
  height: 135px;
  object-fit: cover;
  border-radius: 20px 0px 0px 20px;
  border: solid 5px white;
}
.star {
  display: flex;
  flex-direction: row;
  height: 12px;
  font-size: 12px;
}
.star-check i {
  width: 12px;
  height: 12px;
  color: #0065fc;
}
.star-uncheck i {
  width: 12px;
  height: 12px;
  color: #f2f2f2;
}
/*Act*/
.activités {
  margin-top: 60px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
#activities {
  margin-bottom: 5px;
}
.content-act {
  display: grid;
  grid-template-columns:
    minmax(120px, 302px) minmax(120px, 302px) minmax(120px, 302px)
    minmax(120px, 302px);
  grid-template-rows: 1fr;
  gap: 43px;
  margin: 10px 0;
}
.card-act {
  height: 445px;
  border-radius: 0px 0px 20px 20px;
  box-sizing: content-box;
  width: 100%;
}
.card-act img {
  box-sizing: content-box;
  width: 100%;
  height: 445px;
  object-fit: cover;
  border-radius: 20px;
  filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}
.title-card-act {
  position: relative;
  bottom: 60px;
  background-color: white;
  margin: 0;
  padding: 20px;
  border-radius: 0px 0px 20px 20px;
}

/* ############   3 - Footer  ################ */
footer {
  margin-top: 50px;
  background-color: #f2f2f2;
  height: 225px;
}
.container-footer {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  padding: 40px;
}

footer div ul {
  margin: 0;
  padding: 15px 0px;
  list-style-type: none;
}
footer div ul li {
  padding: 7px 0px;
  font-weight: 400;
  font-size: 16px;
  line-height: 18.78px;
}
/* ############   4 - Color / Font  ########## */
h1,
h2 {
  font-size: 22px;
  font-weight: 700;
  line-height: 26px;
  padding: 0;
  margin: 0;
}
h1 {
  padding-bottom: 5px;
}
h3 {
  font-size: 18px;
  font-weight: 700;
  line-height: 26px;
  padding: 0;
  margin: 0;
}
h4 {
  font-size: 16px;
  font-weight: 700;
  line-height: 19px;
  padding: 0;
  margin: 0;
}
.slogan {
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  margin-top: 8px;
  margin-bottom: 8px;
}
input {
  border: none;
  font-size: 18px;
  font-weight: 500;
  line-height: 21px;
  padding: 4px 4px 4px 10px;
}
.currency {
  font-weight: 600;
}
.text-400 {
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
}
a {
  text-decoration: none;
  color: inherit;
}
.p-0 {
  padding: 0;
}
.py-1 {
  padding: 5px 0px;
}
.py-2 {
  padding: 10px 0px;
}
.m-0 {
  margin: 0;
}
.mx-1 {
  margin: 0px 1px;
}
.me-1 {
  margin-right: 1px;
}
.text-blue {
  color: #0065fc;
}
.mobile-none {
  display: inline;
}
.mobile-only {
  display: none;
}
.d-none {
  display: none;
}
/* ############   5 - Responsive    ########## */
@media screen and (max-width: 992px) {
  body {
    grid-template-columns: minmax(0, 50px) minmax(768px, 880px) minmax(0, 50px);
  }
  .container-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0;
    padding: 0;
  }
  .include-card {
    margin-top: -15px;
  }
  .mobile-none {
    display: inline;
  }
  .mobile-only {
    display: none;
  }
  .logo-brand {
    margin: 0;
  }
  .header-container {
    margin-top: 50px;
    margin-left: -5px;
  }
  .main-location {
    height: 49px;
    display: flex;
    flex-direction: row;
    margin: 20px 0px;
    width: 100%;
  }
  .filters {
    margin: 33px 0px;
    width: auto;
    font-weight: 700;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .btn-filter {
    padding: 14px 18px;
  }
  .infobar {
    margin-bottom: 8px;
  }
  .section-offers {
    display: flex;
    flex-direction: column;
    margin: 30px 0;
    height: auto;
  }

  .offers {
    height: 546px;
    margin-left: 0px;
  }
  .famous {
    background-color: #f2f2f2;
    border-radius: 20px;
    padding: 0 30px;
    height: 278px;
    margin: 50px 0;
  }
  .content-article {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr 1fr;
  }
  .title-famous {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    padding: 10px 0;
  }
  .title-famous i {
    margin-right: 25px;
  }
  .card-famous {
    background: white;
    width: 252px;
    height: 144px;
    border-radius: 20px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
    display: flex;
    flex-direction: row;
  }
  .img-card-famous img {
    width: 96px;
    height: 134px;
    object-fit: cover;
    border-radius: 20px 0px 0px 20px;
    border: solid 5px white;
  }
  .content-famous {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 12px 10px 15px 5px;
  }

  /*Act*/
  .activités {
    height: auto;
  }
  #activities {
    margin-left: 10px;
  }
  .content-act {
    grid-template-columns:
      minmax(120px, 302px) minmax(120px, 302px) minmax(120px, 302px)
      minmax(120px, 302px);
    gap: 50px;
    margin: 40px 0px 30px 0px;
  }
  .card-act {
    height: 267px;
  }
  .card-act img {
    height: 267px;
  }
  .title-card-act {
    position: relative;
    bottom: 56px;
    height: 26px;
    background-color: white;
    margin: 0;
    padding: 18px;
    border-radius: 0px 0px 20px 20px;
  }
}
@media screen and (max-width: 768px) {
  html {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: #d9d9d9;
  }
  body {
    grid-template-columns: minmax(0, 50px) minmax(375px, 768px) minmax(0, 50px);
  }
  .container-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0;
    padding: 0;
  }
  .logo-brand {
    padding-top: 16px;
  }

  .header-nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  nav ul {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    list-style-type: none;
    width: 100%;
  }
  nav ul li {
    text-align: center;
    width: 50%;
    border-bottom: solid 3px #f2f2f2;
    padding-bottom: 22px;
  }
  nav ul li:hover {
    border: none;
    border-bottom: solid 3px #0065fc;
  }
  .header-container {
    padding: 0px 20px;
  }
  .main-location {
    margin: 30px 0px;
    width: 100%;
  }
  .main-location-input {
    border-top: solid 1px #f2f2f2;
    border-bottom: solid 1px #f2f2f2;
    width: 75%;
  }
  .mobile-none {
    display: none;
  }
  .mobile-only {
    display: inline;
  }
  .filters {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 30px 50px 50px;
    gap: 15px;
    width: 100%;
    margin-bottom: 30px;
    padding: 0;
  }
  .label-filter {
    grid-row-start: 1;
    grid-row-end: 1;
    grid-column-start: 1;
    grid-column-end: 3;
  }
  .btn-filter {
    padding: 0px;
    border: solid 2px #d9d9d9;
    background-color: transparent;
    font-size: 18px;
    font-weight: 700;
    font-family: "Raleway", sans-serif;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    height: 50px;
  }
  .btn-filter i {
    padding: 0 10px;
    margin: 0;
  }
  .btn-filter span {
    font-size: 11px;
  }

  .section-offers {
    display: flex;
    flex-direction: column-reverse;
    margin: 30px 0;
    height: auto;
  }
  .famous {
    background-color: #f2f2f2;
    border-radius: 0px;
    padding: 0;
    height: auto;
    margin: 0;
  }
  .title-famous {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
  }
  .title-famous i {
    margin-right: 0px;
  }
  .card-famous {
    background: white;
    width: 334px;
    height: 144px;
    border-radius: 20px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
    display: flex;
    flex-direction: row;
  }
  .img-card-famous img {
    width: 128px;
    height: 135px;
    object-fit: cover;
    border-radius: 20px 0px 0px 20px;
    border: solid 5px white;
  }

  .content-article {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 10px;
    margin-bottom: 40px;
  }
  .card-famous {
    margin: auto;
  }
  .content-famous {
    padding: 16px 22px 16px 12px;
  }

  .offers {
    background-color: transparent;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: auto;
  }
  .include-card {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    gap: 10px;
    margin: 20px 0;
    height: auto;
    margin-left: -10px;
  }
  .card-heberg {
    background: white;
    width: 336px;
    height: 199px;
    border-radius: 20px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
    margin: auto;
  }
  .img-card-heberg img {
    width: 326px;
    height: 114px;
    object-fit: cover;
    border-radius: 20px 20px 0px 0px;
    border: solid 5px white;
  }
  /*Act*/
  .activités {
    margin: 55px 0 20px 0;
    padding: 0;
    height: auto;
    margin-left: 15px;
  }
  #activities {
    margin-left: 20px;
    margin-bottom: 20px;
  }
  .content-act {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    gap: 30px;
    margin: auto;
  }
  .card-act {
    width: 334px;
    height: 190px;
    border-radius: 0px 0px 20px 20px;
    margin-left: 5px;
  }
  .card-act img {
    width: 334px;
    height: 190px;
  }
  footer {
    margin-top: 35px;
    padding: 45px 30px 60px 30px;
    background-color: #f2f2f2;
    height: auto;
  }
  .container-footer {
    display: flex;
    flex-direction: column;
    padding: 0;
  }

  footer div ul li {
    padding: 5px 0px;
    font-weight: 400;
    font-size: 16px;
    line-height: 18.78px;
  }
}
