@import url("https://fonts.googleapis.com/css2?family=Raleway&display=swap");
/* SUMMARY */
/* 1 - Header */
/* 2 - Main */
/* 3 - Footer */
/* 4 - Color / Font */
/* 5 - Responsive */

/* ############################ */
@media screen and (min-width: 1440px) {
  html {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: white;
  }
}
body {
  margin: 0;
  padding: 0;
  font-family: "Raleway", sans-serif;
  display: grid;
  grid-template-columns: minmax(0, 50px) minmax(992px, 1340px) minmax(0, 50px);
  grid-template-rows: 1fr;
  background-color: white;
}
.container-page {
  grid-column-start: 2;
  grid-column-end: 3;
}
/* ############   1 - Header  ################ */
header {
  display: flex;
  flex-direction: column;
}

.header-nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.logo-brand {
  width: 61px;
  height: 29px;
  object-fit: contain;
  padding: 0;
  margin: 0;
  margin-left: 5px;
  padding-top: 40px;
}
nav ul {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  list-style-type: none;
}

nav ul li {
  margin-top: -5px;
  padding: 45px 33px 0 33px;
  border-top: solid 2px transparent;
}

nav ul li:hover {
  border-top: solid 2px #0065fc;
  color: #0065fc;
}
.header-container {
  margin-top: 50px;
  padding-left: 5px;
}
.main-location {
  height: 49px;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 415px;
  margin-top: 20px;
}
.main-location-icon {
  width: 30px;
  border: solid 1px #f2f2f2;
  background: #f2f2f2;
  padding: 14px 20px;
  text-align: center;
  border-radius: 15px 0 0 15px;
}
.main-location-input {
  border-top: solid 1px #f2f2f2;
  border-bottom: solid 1px #f2f2f2;
  width: 260px;
}
.main-location-input input[type="search"] {
  height: 48px;
}
.main-location-input input[type="text"] {
  height: 40px;
}
.main-location-input input:focus {
  outline: none;
}
.main-location-search {
  background: #0065fc;
  color: white;
  padding: 13px 15px;
  text-align: center;
  border-radius: 0 15px 15px 0;
  font-size: 18px;
  font-weight: 700;
  cursor: pointer;
  transition: all ease-in-out 300ms;
}
.main-location-search:hover {
  background: #deebff;
  color: #0065fc;
  transition: all ease-in-out 300ms;
}
button[type="submit"] {
  outline: none;
  border: solid 1px #0065fc;
  font-family: "Raleway", sans-serif;
}
button[type="submit"]:hover {
  cursor: hand;
  pointer-events: auto;
}
.filters {
  margin: 31px 0;
  width: 914px;
  font-size: 18px;
  font-weight: 700;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.btn-filter {
  padding: 14px 20px;
  border: solid 2px #d9d9d9;
  background-color: transparent;
  font-size: 17px;
  font-weight: 700;
  font-family: "Raleway", sans-serif;
}

.btn-filter:hover {
  background: #deebff;
  cursor: pointer;
}
.btn-filter i {
  padding-right: 15px;
}

.rounded {
  border-radius: 50px;
}

.infobar {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.infobar span {
  margin-left: 10px;
}
.btn-info {
  display: flex;
  justify-content: center;
  align-items: center;
  border: solid 1px #d9d9d9;
  color: #0065fc;
  width: 24px;
  height: 24px;
  font-size: 11px;
}

.info-result {
  padding-left: 10px;
}

/* ############   2 - Main    ################ */

.sect-offers {
  display: grid;
  grid-template-columns: minmax(300px, 440px) minmax(300px, 440px) minmax(
      300px,
      440px
    );
  gap: 40px;
  margin: 30px 0;
  height: 626px;
}
.sect-offers__heberg {
  background-color: #f2f2f2;
  border-radius: 20px;
  margin-left: -8px;
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  grid-column-start: 1;
  grid-column-end: 3;
}

.sect-offers__heberg__list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 31px;
  margin-top: -15px;
}

.sect-offers__heberg__card {
  background: white;
  box-sizing: content-box;
  width: 100%;
  height: 199px;
  border-radius: 20px;
  filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
  transition: all ease-in-out 300ms;
}
.sect-offers__heberg__card:hover {
  filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.4));
  transition: all ease-in-out 300ms;
}
.sect-offers__heberg__see-more {
  margin-bottom: 5px;
}
.sect-offers__heberg__see-more a {
  font-size: 18px;
  font-weight: 700;
  line-height: 21px;
}

.card__heberg__img img {
  box-sizing: content-box;
  width: 95%;
  margin: auto;
  height: 114px;
  object-fit: cover;
  border-radius: 20px 20px 0 0;
  border: solid 5px white;
}
.card__heberg__content {
  padding: 0 16px;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 65px;
}
.card__heberg__title {
  margin: 0;
  padding: 0;
}
.card__heberg__price {
  font-weight: 400;
  font-size: 14px;
  margin: 0;
  padding: 0;
}
.sect-offers__famous {
  background-color: #f2f2f2;
  border-radius: 20px;
  padding: 38px;
}
.sect-offers__famous__title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.sect-offers__famous__card a {
  display: flex;
  flex-direction: row;
}
.card__famous__title {
  margin: 0;
  padding: 0;
}
.sect-offers__famous__list {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 33px;
  height: 90%;
  margin-top: 24px;
}
.sect-offers__famous__card {
  background: white;
  border-radius: 20px;
  filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
  height: 144px;
  transition: all ease-in-out 300ms;
}
.sect-offers__famous__card:hover {
  filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.4));
  transition: all ease-in-out 300ms;
}
.card__famous__content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 15px;
  width: 100%;
}
.card__famous__content h3 {
  font-weight: bold;
}

.card__famous__img {
  height: 144px;
  width: 100%;
  max-width: 137px;
}

.card__famous__img img {
  width: 100%;
  max-width: 137px;
  height: 133px;
  box-sizing: content-box;
  object-fit: cover;
  border-radius: 20px 0 0 20px;
  border: solid 5px white;
}
.card__famous__price {
  font-weight: 400;
  font-size: 14px;
  margin: 0;
  padding: 5px 0;
}
.star {
  display: flex;
  flex-direction: row;
  height: 12px;
  font-size: 12px;
}
.star-check i {
  width: 12px;
  height: 12px;
  color: #0065fc;
}
.star-uncheck i {
  width: 12px;
  height: 12px;
  color: #f2f2f2;
}
/*Act*/
.sect-activ {
  margin-top: 60px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
#activities {
  margin-bottom: 5px;
}
.sect-activ__list {
  display: grid;
  grid-template-columns:
    minmax(120px, 302px) minmax(120px, 302px) minmax(120px, 302px)
    minmax(120px, 302px);
  grid-template-rows: 1fr;
  gap: 43px;
  margin: 23px 0 10px 0;
}
.card__activ {
  height: 445px;
  border-radius: 00 20px 20px;
  box-sizing: content-box;
  width: 100%;
}
.card__activ img {
  box-sizing: content-box;
  width: 100%;
  height: 445px;
  object-fit: cover;
  border-radius: 20px;
  filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
  transition: all ease-in-out 300ms;
}
.card__activ img:hover {
  filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.4));
  transition: all ease-in-out 300ms;
}
.card__activ__title {
  position: relative;
  bottom: 57px;
  height: 56px;
  background-color: white;
  border-radius: 00 20px 20px;
  display: flex;
  align-items: center;
  padding-left: 20px;
}
/* ############   3 - Footer  ################ */
footer {
  margin-top: 50px;
  background-color: #f2f2f2;
  height: 225px;
}
.container-footer {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  padding: 40px;
  margin-left: 30px;
  gap: 40px;
}

footer div ul {
  margin: 0;
  padding: 15px 0;
  list-style-type: none;
}
footer div ul li {
  padding: 7px 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 18.78px;
  transition: all ease-in-out 300ms;
  width: fit-content;
}
footer div ul li:hover {
  color: #0065fc;
  transition: all ease-in-out 300ms;
}
/* ############   4 - Color / Font  ########## */
h1,
h2 {
  font-size: 22px;
  font-weight: 700;
  line-height: 26px;
  padding: 0;
  margin: 0;
}
h1 {
  padding-bottom: 5px;
}
h3 {
  font-size: 16px;
  font-weight: 700;
  line-height: 19px;
  padding: 0;
  margin: 0;
}

.slogan {
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  margin-top: 8px;
  margin-bottom: 8px;
}
input {
  border: none;
  font-size: 18px;
  font-weight: 500;
  line-height: 21px;
  padding: 4px 4px 4px 10px;
}
.currency {
  font-weight: 600;
}
a {
  text-decoration: none;
  color: inherit;
}
.mx-1 {
  margin: 0 1px;
}
.me-1 {
  margin-right: 1px;
}
.text-blue {
  color: #0065fc;
}
.mobile-none {
  display: inline;
}
.mobile-only {
  display: none;
}
.d-none {
  display: none;
}
/* ############   5 - Responsive    ########## */
@media screen and (max-width: 992px) {
  body {
    grid-template-columns: minmax(0, 50px) minmax(768px, 880px) minmax(0, 50px);
  }
  .container-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0;
    padding: 0;
  }
  .sect-offers__heberg__list {
    margin-top: -15px;
  }
  .mobile-none {
    display: inline;
  }
  .mobile-only {
    display: none;
  }
  .logo-brand {
    margin: 0;
  }
  .header-container {
    margin-top: 50px;
    margin-left: -5px;
  }
  .main-location {
    height: 49px;
    display: flex;
    flex-direction: row;
    margin: 20px 0;
    width: 100%;
  }
  .main-location-icon {
    width: 30px;
    padding: 14px 10px;
  }
  .filters {
    margin: 33px 0;
    width: auto;
    font-weight: 700;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .btn-filter {
    padding: 14px 18px;
  }
  .infobar {
    margin-bottom: 8px;
  }
  .sect-offers {
    display: flex;
    flex-direction: column;
    margin: 30px 0;
    height: auto;
  }

  .sect-offers__heberg {
    height: 546px;
    margin-left: 0;
  }
  .sect-offers__famous {
    background-color: #f2f2f2;
    border-radius: 20px;
    padding: 0 39px;
    height: 278px;
    margin: 10px 0 50px 0;
  }
  .sect-offers__famous__list {
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 22px;
  }
  .sect-offers__famous__title {
    margin-top: 30px;
    margin-bottom: 26px;
  }
  .sect-offers__famous__card {
    background: white;
    max-width: 252px;
  }

  .card__famous__img img {
    max-width: 96px;
    width: 100%;
    height: 134px;
    box-sizing: content-box;
    object-fit: cover;
    border-radius: 20px 0 0 20px;
    border: solid 5px white;
  }
  .card__famous__content {
    margin-left: -20px;
    padding: 15px 10px;
  }
  .card__famous__title {
    font-size: 14px;
    line-height: 17px;
    font-weight: 900;
  }
  .h3_coeur {
    font-size: 16px;
  }
  .card__famous__content p {
    font-size: 13px;
  }
  /*Act*/
  .sect-activ {
    height: auto;
  }
  #activities {
    margin-top: -10px;
    margin-left: 10px;
  }
  .sect-activ__list {
    grid-template-columns:
      minmax(120px, 302px) minmax(120px, 302px) minmax(120px, 302px)
      minmax(120px, 302px);
    gap: 50px;
    margin: 38px 0 30px 0;
  }
  .card__activ {
    height: 267px;
  }
  .card__activ img {
    height: 267px;
  }
  footer {
    margin-top: 35px;
  }
}
@media screen and (max-width: 768px) {
  html {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: #d9d9d9;
  }
  body {
    grid-template-columns: minmax(0, 50px) minmax(375px, 768px) minmax(0, 50px);
  }
  .container-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0;
    padding: 0;
  }
  .logo-brand {
    padding-top: 16px;
  }

  .header-nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  nav ul {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    list-style-type: none;
    width: 100%;
  }
  nav ul li {
    text-align: center;
    width: 50%;
    border-bottom: solid 3px #f2f2f2;
    padding-bottom: 22px;
    border-bottom: solid 3px transparent;
    border-top: none;
  }
  nav ul li:hover {
    border-top: none;
    border-bottom: solid 3px #0065fc;
  }
  .header-container {
    margin-top: 30px;
    padding: 0 20px;
  }
  .main-location {
    margin: 35px 0 25px 0;
    width: 100%;
  }
  .main-location-icon {
    padding: 14px 10px;
    width: 50px;
  }
  .main-location-input {
    border-top: solid 1px #f2f2f2;
    border-bottom: solid 1px #f2f2f2;
    padding-left: 10px;
    width: 70%;
  }
  .mobile-none {
    display: none;
  }
  .mobile-only {
    display: inline;
  }
  .filters {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 30px 50px 50px;
    gap: 15px;
    width: 100%;
    margin-bottom: 30px;
    padding: 0;
  }
  .label-filter {
    grid-row-start: 1;
    grid-row-end: 1;
    grid-column-start: 1;
    grid-column-end: 3;
  }
  .btn-filter {
    padding: 0;
    border: solid 2px #d9d9d9;
    background-color: transparent;
    font-size: 18px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    height: 50px;
  }
  .btn-filter i {
    padding: 0 10px;
    margin: 0;
  }
  .btn-filter span {
    font-size: 11px;
  }
  .infobar {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    margin-top: 42px;
    margin-bottom: 35px;
  }
  .btn-info {
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid 1px #d9d9d9;
    color: #0065fc;
    height: 20px;
    font-size: 12px;
  }
  .sect-offers {
    display: flex;
    flex-direction: column-reverse;
    margin: 0;
    padding: 0;
    height: auto;
    width: 100%;
  }
  .sect-offers__famous {
    margin: 0;
    padding: 0 20px 0 20px;
    background-color: #f2f2f2;
    border-radius: 0;
    height: 580px;
    box-sizing: content-box;
  }
  .sect-offers__famous__title {
    padding: 0;
  }

  .sect-offers__famous__list {
    gap: 10px;
    height: auto;
  }

  .sect-offers__famous__card {
    width: 100%;
    min-width: 334px;
    max-width: 100%;
    margin: auto;
  }

  .card__famous__content {
    width: 175px;
    margin-left: 0;
    padding-left: 10px;
    padding-right: 20px;
  }
  .card__famous__content h3 {
    font-size: 16px;
    margin-bottom: 5px;
  }
  .card__famous__content p {
    font-size: 14px;
  }
  .card__famous__img {
    min-width: 117px;
  }
  .card__famous__img img {
    max-width: 90%;
  }

  .sect-offers__famous__list {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 10px;
    margin-bottom: 40px;
  }

  .sect-offers__heberg {
    padding: 0 20px 0 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: auto;
    border-radius: 0;
    background: white;
    margin-bottom: 80px;
  }
  .sect-offers__heberg h2 {
    margin-left: 0;
    margin-top: -10px;
  }
  .sect-offers__heberg__list {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    gap: 10px;
    margin: 20px 0;
    height: auto;
  }
  .sect-offers__heberg__card {
    width: 100%;
  }
  .card__heberg__img {
    height: 114px;
    margin-bottom: 10px;
    width: 100%;
  }
  .card__heberg__img img {
    height: 114px;
    width: 97%;
  }
  /*Act*/
  .sect-activ {
    margin: 0 0 20px 0;
    padding: 0 20px 0 10px;
    height: auto;
  }
  .sect-activ h2 {
    margin-top: 10px;
    margin-bottom: 2px;
    width: 50%;
  }
  .sect-activ__list {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    gap: 27px;
    margin: 0;
    margin-bottom: 40px;
  }
  .card__activ {
    min-width: 334px;
    max-width: 100%;
    height: 190px;
    border-radius: 00 20px 20px;
    margin: auto;
  }
  .card__activ img {
    min-width: 334px;
    max-width: 100%;
    height: 190px;
  }
  footer {
    margin-top: 35px;
    padding: 45px 30px 60px 30px;
    background-color: #f2f2f2;
    height: auto;
  }
  .container-footer {
    display: flex;
    flex-direction: column;
    padding: 0;
    margin-left: 0;
  }
  footer section {
    margin-bottom: -20px;
  }
  footer div ul li {
    padding: 5px 0;
    font-weight: 400;
    font-size: 16px;
    line-height: 18.78px;
  }
  .section-footer__help {
    margin-top: 10px;
  }
}
